# Dependencies
node_modules
/.pnpm-store

# Next.js Build Output
.next/
out/
build/

# Local Environment Variables
.env*.local

# Vercel Configuration
.vercel

# Operating System Logs & Cache
.DS_Store
Thumbs.db
*.log
